
.story{
    border-bottom: 1px solid #ccc;
.img{
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    margin-left: 1rem;
    display: flex;
    justify-content: space-between;
   .mafer{
    flex-direction: column;
    img{
        width: 70px;
        height: 70px;
        border-radius: 100%;
        border: 3px solid #e96565;
        }
        span{
            font-size: small;
        }

   }
    
}
}