
.posts{
    margin: 1rem;
        .info{
        width: 100%;
        margin-bottom: 1rem;
        
        .infoUser{
            display: flex;
            border-radius: 1rem ;
            border-top:2px solid #ccc;
            background-color: #fff;
            h3{
                background-color: #fff;

            }
            img{

                width: 50px;
                height: 50px;
                border-radius: 100px;
                margin-right: 1rem;
                margin-left: 1rem;
            }
        }
        .img{ 
            background-color: #fff;
            display: flex;
            justify-content: center;   
            img{
                width: 80%;
                border-radius: 1rem;
            }  
        }
        .iconos{
            background-color: #fff;
            display: flex;
            justify-content: space-between;
            border-radius: 1rem;
            border-bottom: 2px solid #ccc;
            .interacion{
                background-color: #fff;

                border-radius: 1rem;
                .heart{
                    background-color: #fff;

                    margin: 0.5rem;
                }
                .chat{
                    background-color: #fff;
                    margin: 0.5rem;
                }
                .envio{
                    background-color: #fff;
                    margin: 0.5rem;
                }
            }
            .guardado{
                margin: 0.4rem;
                color: #ff7674;
            }
        }
    }
    
}
@media (min-width:768px){
    .posts{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .info{
            width: 80%;
            .infoUser{
                h3{
                    font-size: x-large;
                }
            }
            .img{ 
                display: flex;
                justify-content: center;   
                img{
                    width: 80%;
                }
            }
        }
        
}
}